@media screen and (max-width: 770px) {
    .nav_container {
        position: relative !important;
        .navbar_menu {
            display: grid;
            grid-template-columns: auto;
            background-color: black;
            margin: 0;
            width: 100%;
            position: absolute;
            top: 80px;
            left:-100%;
            opacity: 0;
            transition: all 0.5s ease;
        }
    }

    

    .navbar_logo {
        margin-left: 20px;
    }

    .navbar_menu.active {
        background-color: rgb(20, 20, 19);
        left: 0;
        opacity: 1;
        transition: 0.5s all ease;
        ;
    }

    .navbar_menu li a {
        display: table;
        text-align: center;
        line-height: 60px;
        width: 100%;
        transition: 0.5s ease all;
    }

    .navbar_menu li a:hover {
        background-color: salmon;
    }

    .nav_bar {
        width: 100%;
    }

    ul.navbar_menu {
        padding: 0 !important;
        height: 90.5vh;
    }
    .nav-link.btn {
        border:none;
        padding:0;
        border-radius: 0;
        background-color: darksalmon;
        color: #000;
    }
    #mobileToggle{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    #mobileToggle .bar{
        display: block;
    }
    #mobileToggle:hover{
        cursor: pointer;
    }
    #mobileToggle.is-active .bar:nth-child(1){
        transform:translateY(8px ) rotate(45deg);
    }
    #mobileToggle.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobileToggle.is-active .bar:nth-child(3){
        transform:translateY(-8px ) rotate(-45deg);
    }
    .contact_map iframe {
        width: 300px;
        height: 200px;
     }
     .theme_title{
         margin-top:20px;
     }
}